/*
Joseph P. Pasaoa
TodoItem Css | TodosToaster Lab
*/


li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;

  margin: 6px;
  padding: 6px 12px;
  border-radius: 3px;

  background-color: aliceblue;
}

p.todoValue {
  width: 350px;
  margin: 6px 12px;
}

li button {
  position: relative;
  top: -1px;
  right: 0px;
  margin-left: 8px;
  padding: 0px 3px 2px 3px;
  
  color: #333;
  box-shadow: 0px 3px 5px #8eb1b5;
}

li button:hover {
  color: red;
}