/*
Joseph P. Pasaoa
APP Css | Todos Toaster Lab
*/


/* CSS RESET */
@import-normalize;


/* FONT INITS
@font-face {
  font-family: 'Sulphur Point';
  src: url('./assets/fonts/Sulphur_Point/SulphurPoint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/


/* MAIN STYLE */
html, body, .App, div#flex-base {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}
