/*
Joseph P. Pasaoa
APP Css | Todos Toaster Lab
*/


/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONT INITS
@font-face {
  font-family: 'Sulphur Point';
  src: url('./assets/fonts/Sulphur_Point/SulphurPoint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/


/* MAIN STYLE */
html, body, .App, div#flex-base {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
	text-align: center;
	font-family: 'Cabin', sans-serif;
	
}

h1 {
	font-size: 3em;
	margin: 36px 12px;
}

p#instructions {
  margin: 12px 12px 6px 12px;
  font-size: 0.9em;
}

strong {
	font-weight: bold;
}

.toastStatic {
	min-height: 56px;
	padding: 14px 8px 14px 40px;
	border-radius: 20px 4px 4px 20px;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.6), 0 2px 15px 0 rgba(0, 0, 0, 0.3);

	line-height: 1.1em;
	font-family: 'Cabin', sans-serif;
	font-size: 0.95em;
	color: #fff;
}

.add {
	background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(0, 156, 41, 1) 100.3% );
}

.delete {
	background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(247,30,30,1) 100.3% );
}

.Toastify strong {
	font-weight: 900;
	color: lightsteelblue;
}

.Toastify button {
	position: relative;
	top: -1px;
	margin-top: 0px;
	margin-right: 10px;

	opacity: 0.5;
}

.toastProgBar {
	background: linear-gradient(to right, #f009, #fa07, #ff5d);
}
